.main {
  display: flex;
}

.left-part {
  width: 20%;
  border-style: solid;
}

.left-top {
  border-style: solid;
  color: white;
  background-color: #28292d;
}

.heading {
  text-align: center;
  font-family: aeonic-regular;
  padding: 20px;
}

/*  motto  */
/* 
#motto-container 
{
	border: 3px solid black; 
	border-radius: 5px;
	overflow: hidden;
}

#motto-text
{
	text-align: center;
	font-size: 10px;
	color: white;
	margin-top: 50%;
	font-weight: 35px;
} */

/* popout  */

.popout {
  font-family: Futura, sans-serif;
  /* font-family: aeonic-regular; */

  font-weight: 600;
  font-size: 20px;
  padding: 0px;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  background-color: rgb(233, 230, 230);
  border-style: sol;
}
@-webkit-keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
}
@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 rgb(79, 138, 157);
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 lightblue;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em lightblue;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em rgb(217, 255, 112);
    color: black;
  }
}
.popout span {
  position: relative;
  display: inline-block;
  -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
  animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
  -webkit-animation-delay: -0.1666666667s;
  animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  -webkit-animation-delay: -0.3333333333s;
  animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

/* TI logo */

.ti-logo {
  padding: 0;
  margin: 0;
}

.ti-logo img {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

html,
body {
  height: 100%;
}
/* login box */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #7e9cbb;
}

.box {
  margin: auto;
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.box::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -30%;
  width: 380px;
  height: 420px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  animation: animate 6s linear infinite;
}
.box::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  position: absolute;
  inset: 2px;
  background: #28292d;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
h2 {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #474c67;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #fffafa;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fafbfb;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: beige;
}
.links a:hover,
.links a:nth-child(2) {
  color: #46edf9;
}
input[type="submit"] {
  border: none;
  outline: none;
  padding: 11px 25px;
  /* background: #86f5ff; */
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
  color: white;
}
input[type="submit"]:active {
  opacity: 0.8;
}

/* dynamic page  */

@media only screen and (min-width: 00px) {
}

@media only screen and (max-width: 600px) {
  .body {
    display: flex;
  }

  .signin-portion {
    margin: 20%;
  }
}

/* right part   */
.right-part {
  float: right;
  width: 80%;
  background: linear-gradient(-45deg, #c54d29, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* google login logo */

.google_logo a {
  margin-left: 170px;
  display: flex;
  text-decoration: none;
  color: white;
  float: right;
}

.google_logo img {
  margin-left: 5px;
  width: 18px;
  height: 18px;
  margin-top: 3px;
}

.google_logo a:hover {
  color: #23a6d5;
}

/* footer */

#footer {
  background-color: rgb(82, 71, 71);
  border-style: solid;
  height: 50px;
}



/* login with google */
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}