.asterisk_input::after {
  content: " *";
  color: #e32;
  position: absolute;
  margin: 0px 0px 0px -20px;
  font-size: xx-large;
  padding: 0 5px 0 0;
}

/* for gradient background */
.gradient-colors1
{
  background: linear-gradient(-45deg, #c54d29, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

body
{
  background: linear-gradient(-45deg, #c54d29, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
